<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="false"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"    
>
    <testsuites>
        <testsuite name="THN">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./tests/test-reports/clover.xml" />
    </logging>
</phpunit>
